.btn{
       padding: 5px;
    font-size: 10px;
    text-decoration: none;
    border-radius: 3px;
 
    
}
.btn-principal{
    @extend .btn;
    color :var(--texto-principal);
    background: var(--cor-primaria);
    transition: all 0.5s;
    &:hover{
        transition: all 0.5; transform:translateY(-3px) scale(1.05) rotate(2deg);
        color: var(--text-desable);
        background: red;
       }
}