.btn{
       padding: 5px 10px;
    text-decoration: none;
    border-radius: 3px;
 
    
}
.btn-principal{
    @extend .btn;
    color :var(--texto-principal);
    background: var(--cor-primaria);
    transition: all 0.5s;
    &:hover{
        transition: all 0.5; transform:translateY(-3px) scale(1.05) rotate(2deg);
        color: var(--text-desable);
        background: red;
       }
}

//tablet
@media (min-width: 600px) {
    .btn{
        padding: 8px 14px;
     text-decoration: none;
     border-radius: 3px;
  
     
 }
}
//pc

@media (min-width: 900px) {
    .btn{
        padding: 12px 16px;
     text-decoration: none;
     border-radius: 3px;
  
     
 }
}

//telas maiores
@media (min-width: 1200px) {
    .btn{
        padding: 14px 18px;
     text-decoration: none;
     border-radius: 3px;
  
     
 }
}