 //cofiguracao das cores
 $background:#121212;
 $cor-primaria:#8a3dff;
 $texto-principal: #f5f5f5;
 $texto-secundario:#b0b0b0;
 $texto-desable: #808080;
 $fundo-componet: #333333;
 $border:#444444;
 $box-chadow: rgba(0,0,0,0.1)

